.carousel-banner .owl-carousel .item img {
  height: 70%; }
.carousel-banner .owl-carousel .item .banner-text {
  position: absolute;
  top: 40%;
  left: 12%;
  width: 40%; }
  .carousel-banner .owl-carousel .item .banner-text p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px; }
  .carousel-banner .owl-carousel .item .banner-text p:nth-child(2) {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px; }
  .carousel-banner .owl-carousel .item .banner-text p:nth-child(3) {
    margin-top: 30px;
    line-height: 32px;
    font-size: 14px; }
.carousel-banner .owl-carousel .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 6%; }
  .carousel-banner .owl-carousel .owl-dots button {
    outline: none; }
  .carousel-banner .owl-carousel .owl-dots .owl-dot span {
    width: 13px !important;
    height: 13px !important;
    background: transparent !important;
    border: 1px solid white; }
.carousel-banner .owl-carousel .owl-stage-outer {
  height: 750px; }
.carousel-banner .owl-carousel .owl-nav {
  display: none; }
.carousel-banner .owl-carousel .light-txt {
  color: #fff !important; }

header .fixed-top {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }
header .navbar {
  background-color: white;
  height: 85px;
  box-shadow: 0px 2px 14px #888888; }
header .navbar-expand-sm {
  justify-content: space-between; }
header .navbar-brand img {
  max-height: 100%; }
header .navbar-nav li {
  margin: 0 5px; }
  header .navbar-nav li a {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: black; }
    header .navbar-nav li a:hover {
      color: #d6b161; }
header .navbar-nav li.nav-item.active a {
  color: #d6b161; }

.love-section {
  width: 75%;
  margin: 100px auto;
  overflow: hidden; }
  .love-section .love-text h1 {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    color: #333; }
  .love-section .love-text p {
    line-height: 30px;
    width: 50%;
    margin: 30px auto 50px auto;
    text-align: center;
    font-size: 15px;
    color: #7e7e7e; }
  .love-section .love-col {
    display: flex;
    justify-content: center; }
    .love-section .love-col .max-width-love-item {
      max-width: 400px; }
      .love-section .love-col .max-width-love-item .col-content {
        border: 1px #e9e9e9 solid;
        border-radius: 4px;
        position: relative;
        padding: 30px;
        height: 220px;
        margin: 50px 20px; }
        .love-section .love-col .max-width-love-item .col-content h2 {
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 1px;
          font-size: 20px;
          margin-top: 45px;
          margin-bottom: 25px; }
        .love-section .love-col .max-width-love-item .col-content p {
          font-size: 14px;
          font-weight: 500;
          color: #7e7e7e;
          line-height: 23px;
          text-align: left; }
        .love-section .love-col .max-width-love-item .col-content .icon {
          position: absolute;
          top: -29px;
          box-shadow: 0px 2px #fff; }
          .love-section .love-col .max-width-love-item .col-content .icon i {
            font-size: 30px;
            color: #fff;
            width: 60px;
            height: 60px;
            border: 1px transparent solid;
            border-radius: 5px;
            background: #222;
            padding: 13px;
            display: flex;
            justify-content: center;
            box-shadow: 0px 0px 0px 10px #fff;
            transition: all 0.2s; }
        .love-section .love-col .max-width-love-item .col-content:hover i {
          background: #d6b161;
          color: #ffffff; }
  .love-section .row {
    margin-right: -15px !important;
    margin-left: -15px !important; }

.v-middle {
  display: table;
  width: 100%;
  height: 650px;
  vertical-align: middle; }

.skill-section .skill-background {
  position: relative;
  background: url(../img/parallax/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 650px;
  width: 100%; }
  .skill-section .skill-background .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%; }
.skill-section .skill-content {
  color: #fff;
  display: flex;
  width: 67%;
  margin: auto; }
  .skill-section .skill-content .skill-title h3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 6px;
    font-size: 24px; }
  .skill-section .skill-content .skill-bar {
    padding: 0 30px; }
    .skill-section .skill-content .skill-bar .skill-bar-content {
      padding: 0 30px;
      display: table-cell;
      vertical-align: middle; }
      .skill-section .skill-content .skill-bar .skill-bar-content h1 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px; }
      .skill-section .skill-content .skill-bar .skill-bar-content p {
        font-size: 12px;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 40px; }
      .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container {
        padding: 0;
        width: 100%;
        min-width: 300px;
        list-style: none; }
        .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li {
          position: relative;
          width: 100%;
          padding: 5px;
          margin-bottom: 10px; }
          .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .progressbar-title {
            color: #333; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .progressbar-title h3 {
              font-size: 9px;
              position: relative;
              top: 51px;
              left: 8px;
              z-index: 1; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .progressbar-title span {
              color: #333;
              width: 35px;
              height: 20px;
              border-radius: 10px;
              background-color: #a4a4a4;
              font-size: 9px;
              padding: 2px 5px;
              position: relative;
              animation-duration: 0.5s;
              animation-timing-function: ease-out;
              animation-fill-mode: both; }
              .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .progressbar-title span:before {
                content: '';
                position: absolute;
                top: 14px;
                left: 9px;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 6px solid #a4a4a4; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .progressbar-title #bubble-percent-80 {
              animation-name: bubble-percent-80;
              animation-delay: 0.5s; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .progressbar-title #bubble-percent-90 {
              animation-name: bubble-percent-90;
              animation-delay: 0.5s; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .progressbar-title #bubble-percent-75 {
              animation-name: bubble-percent-75;
              animation-delay: 0.5s; }
@keyframes bubble-percent-80 {
  0% {
    left: 0; }
  100% {
    left: 289px; } }
@keyframes bubble-percent-90 {
  0% {
    left: 0; }
  100% {
    left: 327px; } }
@keyframes bubble-percent-75 {
  0% {
    left: 0; }
  100% {
    left: 270px; } }
          .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .bar-container {
            background: #555;
            position: relative;
            width: 100%;
            height: 20px;
            margin-top: 5px;
            display: block; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .bar-container .progressbar {
              position: absolute;
              width: 0%;
              height: 100%;
              animation-duration: 0.5s;
              animation-timing-function: ease-out;
              animation-fill-mode: both; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .bar-container #progress-html {
              animation-name: progress-html;
              animation-delay: 0.5s; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .bar-container #progress-pts {
              animation-name: progress-pts;
              animation-delay: 0.5s; }
            .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .skills-bar-container li .bar-container #progress-graphic {
              animation-name: progress-graphic;
              animation-delay: 0.5s; }
      .skill-section .skill-content .skill-bar .skill-bar-content .skill-progress .progresscolor {
        background-color: #fff; }
@keyframes progress-html {
  0% {
    width: 0%; }
  100% {
    width: 80%; } }
@keyframes progress-pts {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }
@keyframes progress-graphic {
  0% {
    width: 0%; }
  100% {
    width: 75%; } }
.our-team-section {
  background: #f5f5f5;
  padding: 100px 0;
  overflow: hidden; }
  .our-team-section .our-team-text h1 {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    color: #333; }
  .our-team-section .our-team-text p {
    line-height: 30px;
    width: 50%;
    margin: 30px auto 50px auto;
    text-align: center;
    font-size: 15px;
    color: #7e7e7e; }
  .our-team-section .our-team-content {
    width: 66%;
    margin: auto; }
    .our-team-section .our-team-content .team-item {
      position: relative; }
      .our-team-section .our-team-content .team-item .team-img {
        position: relative; }
        .our-team-section .our-team-content .team-item .team-img img {
          width: 100%; }
        .our-team-section .our-team-content .team-item .team-img .overlay-info {
          position: absolute;
          background: rgba(0, 0, 0, 0.6);
          width: 68%;
          height: 60px;
          bottom: 23px;
          right: 0;
          padding: 10px; }
          .our-team-section .our-team-content .team-item .team-img .overlay-info p {
            text-align: right;
            margin: 0; }
          .our-team-section .our-team-content .team-item .team-img .overlay-info p:nth-child(1) {
            font-size: 14px;
            line-height: 25px;
            letter-spacing: 1px; }
          .our-team-section .our-team-content .team-item .team-img .overlay-info p:nth-child(2) {
            font-size: 10px;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 2px; }
      .our-team-section .our-team-content .team-item .overlay-item {
        opacity: 0;
        margin: 0 15px;
        padding: 50px 10px 20px 10px;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        border: 20px solid rgba(0, 0, 0, 0.1);
        width: auto;
        transition: all 0.3s; }
        .our-team-section .our-team-content .team-item .overlay-item p {
          text-align: center; }
        .our-team-section .our-team-content .team-item .overlay-item p:nth-child(1) {
          font-size: 13px;
          margin-bottom: 30px;
          letter-spacing: 4px;
          font-weight: 400; }
        .our-team-section .our-team-content .team-item .overlay-item p:nth-child(2) {
          font-size: 13px;
          color: #7e7e7e; }
        .our-team-section .our-team-content .team-item .overlay-item .overlay-item-icon {
          display: flex;
          justify-content: center;
          position: relative;
          bottom: -65px; }
          .our-team-section .our-team-content .team-item .overlay-item .overlay-item-icon a {
            color: #000;
            margin: 0 20px; }
            .our-team-section .our-team-content .team-item .overlay-item .overlay-item-icon a i {
              transition: all 0.5s; }
            .our-team-section .our-team-content .team-item .overlay-item .overlay-item-icon a:hover i {
              color: #d6b161; }
      .our-team-section .our-team-content .team-item:hover .overlay-item {
        opacity: 1; }

.portfolio-banner {
  background: #222; }
  .portfolio-banner .row {
    width: 70%;
    margin: 0 auto; }
    .portfolio-banner .row .pbanner-text {
      color: white;
      padding: 55px 0;
      vertical-align: middle; }
      .portfolio-banner .row .pbanner-text p:nth-child(1) {
        margin: 0;
        font-size: 13px; }
      .portfolio-banner .row .pbanner-text p:nth-child(2) {
        margin-top: 6px;
        margin-bottom: 0;
        font-size: 21px;
        letter-spacing: 1px; }
    .portfolio-banner .row .pbanner-btn {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .portfolio-banner .row .pbanner-btn a button {
        padding: 15px 30px;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        border: none; }
      .portfolio-banner .row .pbanner-btn a:hover button {
        background: #d6b161; }

.portfolio {
  padding: 100px 0 0 0; }
  .portfolio .portfolio-text h1 {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    color: #333; }
  .portfolio .portfolio-text p {
    line-height: 30px;
    width: 50%;
    margin: 30px auto 50px auto;
    text-align: center;
    font-size: 15px;
    color: #7e7e7e; }
  .portfolio .portfolio-collection {
    margin: 120px 0 40px 0; }
    .portfolio .portfolio-collection .nav {
      justify-content: center; }
      .portfolio .portfolio-collection .nav .nav-item a {
        color: #a9a8a8;
        font-size: 13px;
        letter-spacing: 4px; }
      .portfolio .portfolio-collection .nav .nav-item .active {
        background: transparent;
        color: #000000; }
    .portfolio .portfolio-collection .tab-content {
      margin-top: 50px; }
      .portfolio .portfolio-collection .tab-content .container {
        max-width: 1500px; }
        .portfolio .portfolio-collection .tab-content .container .row {
          margin: 30px 0; }
        .portfolio .portfolio-collection .tab-content .container .row .row-item {
          position: relative; }
          .portfolio .portfolio-collection .tab-content .container .row .row-item img {
            width: 100%; }
          .portfolio .portfolio-collection .tab-content .container .row .row-item .collection-overlay {
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            bottom: 0;
            border: 20px solid rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.8);
            opacity: 0;
            transition: all 0.3s; }
            .portfolio .portfolio-collection .tab-content .container .row .row-item .collection-overlay .collection-overlay-content {
              position: relative;
              top: 34%; }
              .portfolio .portfolio-collection .tab-content .container .row .row-item .collection-overlay .collection-overlay-content a {
                margin-top: 50px;
                color: black; }
                .portfolio .portfolio-collection .tab-content .container .row .row-item .collection-overlay .collection-overlay-content a i {
                  font-size: 35px;
                  position: relative;
                  top: -31px;
                  left: 137px; }
              .portfolio .portfolio-collection .tab-content .container .row .row-item .collection-overlay .collection-overlay-content p {
                text-align: center; }
              .portfolio .portfolio-collection .tab-content .container .row .row-item .collection-overlay .collection-overlay-content p:nth-child(2) {
                font-size: 13px;
                letter-spacing: 4px;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s; }
                .portfolio .portfolio-collection .tab-content .container .row .row-item .collection-overlay .collection-overlay-content p:nth-child(2):hover {
                  color: #d6b161; }
              .portfolio .portfolio-collection .tab-content .container .row .row-item .collection-overlay .collection-overlay-content p:nth-child(3) {
                font-size: 12px;
                letter-spacing: 2px; }
          .portfolio .portfolio-collection .tab-content .container .row .row-item:hover .collection-overlay {
            opacity: 1; }

.lb-data .lb-details {
  width: 100% !important;
  display: flex;
  justify-content: space-between; }

.services-section {
  padding-top: 100px; }
  .services-section .services-text h1 {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    color: #333; }
  .services-section .services-text p {
    line-height: 30px;
    width: 50%;
    margin: 30px auto 50px auto;
    text-align: center;
    font-size: 15px;
    color: #7e7e7e;
    width: 70% !important; }
  .services-section .services-box .row {
    flex-wrap: nowrap; }
    .services-section .services-box .row .services-box-item {
      border: 1px solid #f2f2f2;
      padding: 30px;
      transition: all .3s; }
      .services-section .services-box .row .services-box-item i {
        font-size: 42px;
        transition: all .3s; }
      .services-section .services-box .row .services-box-item .services-box-item-text {
        margin: 35px auto;
        width: 90%; }
        .services-section .services-box .row .services-box-item .services-box-item-text p:nth-child(1) {
          font-weight: normal;
          font-size: 17px;
          letter-spacing: 1px;
          transition: all .3s; }
        .services-section .services-box .row .services-box-item .services-box-item-text p:nth-child(2) {
          font-size: 13px;
          color: #7e7e7e;
          line-height: 22px; }
      .services-section .services-box .row .services-box-item:hover {
        background: #222222;
        border: 1px solid #222222; }
        .services-section .services-box .row .services-box-item:hover i {
          color: #d6b161; }
        .services-section .services-box .row .services-box-item:hover .services-box-item-text p:nth-child(1) {
          color: #fff; }
    .services-section .services-box .row .services-box-item:nth-child(1) {
      border-right: none; }
    .services-section .services-box .row .services-box-item:nth-child(3) {
      border-left: none; }
  .services-section .services-box .row:nth-child(2) .services-box-item:nth-child(1) {
    border-right: none;
    border-top: none; }
  .services-section .services-box .row:nth-child(2) .services-box-item:nth-child(2) {
    border-top: none; }
  .services-section .services-box .row:nth-child(2) .services-box-item:nth-child(3) {
    border-left: none;
    border-top: none; }

.parallax-section {
  margin: 200px 0; }
  .parallax-section .container-fluid {
    height: 500px;
    background-image: url(../../img/parallax/14.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 20px 0 20px; }
    .parallax-section .container-fluid .carousel {
      height: 100%;
      width: 76%;
      margin: auto; }
      .parallax-section .container-fluid .carousel .owl-carousel {
        position: relative;
        bottom: -57px; }
        .parallax-section .container-fluid .carousel .owl-carousel .owl-nav {
          display: none; }
        .parallax-section .container-fluid .carousel .owl-carousel .owl-dots {
          position: relative;
          top: -80px;
          display: flex;
          justify-content: flex-end; }
          .parallax-section .container-fluid .carousel .owl-carousel .owl-dots button {
            outline: none; }
        .parallax-section .container-fluid .carousel .owl-carousel .row .parallax-content {
          padding: 120px 0 0px 40px; }
        .parallax-section .container-fluid .carousel .owl-carousel .row div:nth-child(1) img {
          height: 100%; }
        .parallax-section .container-fluid .carousel .owl-carousel .row div:nth-child(2) p:nth-child(1) {
          color: #d6b161;
          letter-spacing: 2px;
          font-size: 18px; }
        .parallax-section .container-fluid .carousel .owl-carousel .row div:nth-child(2) p:nth-child(2) {
          font-size: 16px;
          line-height: 30px;
          color: #fff; }
        .parallax-section .container-fluid .carousel .owl-carousel .row div:nth-child(2) a:nth-child(3) {
          display: flex;
          justify-content: flex-start;
          text-decoration: none; }
          .parallax-section .container-fluid .carousel .owl-carousel .row div:nth-child(2) a:nth-child(3) .btn-warning {
            background-color: #3d3d3d !important;
            border: none !important;
            color: #fff !important; }
          .parallax-section .container-fluid .carousel .owl-carousel .row div:nth-child(2) a:nth-child(3) .btn-small {
            font-size: 12px;
            padding: 10px 20px;
            letter-spacing: 1px;
            margin-top: 30px; }
          .parallax-section .container-fluid .carousel .owl-carousel .row div:nth-child(2) a:nth-child(3):hover .btn-warning {
            background-color: #d6b161 !important; }

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.text-color {
  color: #7e7e7e; }

.icon-middle {
  display: inline-block;
  text-align: center;
  vertical-align: bottom; }

.owl-carousel .owl-item img {
  width: unset; }

/*# sourceMappingURL=style.css.map */
