@mixin lightfont( $f-size,$f-weight) {
    font-size: $f-size;
    font-weight:$f-weight;
}
@mixin title(){   
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    color: #333;  
}
@mixin title-text(){
    line-height: 30px;
    width: 50%;
    margin: 30px auto 50px auto;
    text-align: center;
    font-size: 15px;
    color: $text-color;
}
@mixin news-content(){
    p:nth-child(1){
        color: white;
        letter-spacing: 1px;
        margin-bottom: 0px;
    }
    p:nth-child(2){
        color: white;
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    p:nth-child(3){
        color: white;
        font-size: 14px;
        line-height: 28px;
        
    }
}