@import "./components/carouselBanner";
@import "./components/header";
@import "./components/loveSection";
@import "./components/skills";
@import "./components/ourTeam";
@import"./components/portfolioBanner";
@import "./components/portfolio";
@import "./mixin";
@import "./variable";
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.text-color{
    color: $text-color;
}