@import "./mixin";
@import "./variable";
.parallax-section{
    margin: 200px 0;
    .container-fluid{
        height: 500px;
        background-image: url(../../img/parallax/7.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px 20px 0 20px;
        .carousel{
            height: 100%;
            width: 76%;
            margin: auto;
            .owl-carousel{ 
                position: relative;
                bottom: -57px;
                .owl-nav{
                    display: none;
                } 
                .owl-dots{
                    position: relative;
                    top: -80px;
                    display: flex;
                    justify-content: flex-end;     
                    button{
                        outline: none;
                    }
                }
                .row{
                    .parallax-content{
                        padding: 120px 10px 0px 40px;
                    }
                    div:nth-child(1){
                        img{
                            height: 100%;
                        }
                    }
                    div:nth-child(2){
                        p:nth-child(1){
                            color: $font-color;
                            letter-spacing: 2px;
                            font-size: 18px;
                        }
                        p:nth-child(2){
                            font-size: 16px;
                            line-height: 30px;
                            color: #fff;
                        }
                        a:nth-child(3){
                            display: flex;
                            justify-content: flex-start;
                            text-decoration: none;
                            
                            .btn-warning{
                                background-color: #3d3d3d !important;
                                border: none !important;
                                color: #fff !important;
                            }
                            .btn-small{
                                font-size: 12px;
                                padding: 10px 20px;
                                letter-spacing: 1px;
                                margin-top: 30px;
                            }
                            &:hover{
                                .btn-warning{
                                    background-color: $font-color !important;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}
