@import "./mixin";
@import "./variable";
.portfolio-banner{
    background: #222;
    .row{
        width: 70%;
        margin: 0 auto;
        .pbanner-text{
            color: white;
            padding: 55px 0;
            vertical-align: middle;
            p:nth-child(1){
                margin: 0;
                font-size: 13px;
            }
            p:nth-child(2){
                margin-top: 6px;
                margin-bottom: 0;
                font-size: 21px;
                letter-spacing: 1px;
            }
        }
        .pbanner-btn{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a{
                button{
                    padding: 15px 30px;
                    color: #fff;
                    background: rgba(255, 255, 255, .2);
                    border: none;
                }
                &:hover{
                    button{
                        background: $font-color;
                    }
                }
            }
        }
    }
}