@import "./mixin";
@import "./variable";
.video-section{
    margin-bottom: 200px;
    .video-title{
        margin: 100px 0;
        h1{
            @include title();
        }
        p{
            @include title-text();
        }
    }
    .container{
        iframe{
            display: block;
            margin: auto;
        }
    }
}